@import './../../App.scss';

.buttons {    
    display: inline-grid;
    justify-items: center;
    
    // == GRID ==
    gap: 12px;
    grid-template-columns: 64px 64px 64px 64px;
    grid-template-rows: 64px 64px 64px 64px;

    &_number, &_operator, &_other, &_equal, &_theme {
        font-family: $font;
        width: 64px;
        height: 64px;
        color: $text_color;
        font-size: $font_size;
        border-radius: 0.5em;
        background: $button_color;
        border: 2px solid $white;
        transition: all .3s;
        box-shadow: 3px 3px 6px $button_shadow, -6px -6px 12px $white;
    }
    &_equal {
        background: darken($button_color, 30);
        border: 2px solid $white;
        color: $white;
    }
    &_theme {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        width: 42px;
        height: 42px;        
        border-radius: 1.5em;
        &:active {
            //box-shadow: 2px 2px 6px lighten($primary_color, 10), -2px -2px 6px #ffffff;
            box-shadow: -2px -2px 6px $white, -2px -2px 6px $white;
           }             
    }       
    :active {
        //box-shadow: 2px 2px 6px lighten($primary_color, 10), -2px -2px 6px #ffffff;
        box-shadow: -2px -2px 6px $white, -2px -2px 6px $white;
       }
}